{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>


<div class="menu">
  <h1>MENU</h1>
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="http://localhost:8000/">Counties</a></li>
    <li><a href="http://localhost:8000/area/">Areas</a></li>
    <li><a href="#contact">Regions</a></li>
    <li><a href="#about">About</a></li>
  </ul>

</div>


<div class="my_button_create">
  <button><a href="http://localhost:8000/create/">Create</a></button>
</div>

  {% for area in areas %}
<div class="blog-wrapper">
  <div class="blog-card">
    <div class="card-img">
      <h1>{{area.name}}</h1>
    </div>
    <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 4</span><span><i class="fa fa-heart"></i>102</span></div>
    <div class="card-text"><p>{{blog.about}}</p></div>
    <div class="read-more">
      <a href="http://localhost:8000/area_update/{{area.pk}}">Update</a>
    </div>

    <div class="read-more">
      <a href="http://localhost:8000/area_delete/{{area.pk}}">Delete</a>
    </div>

  </div>
  </div>
  {% endfor %}
</body>
</html>